.App {
  text-align: center;
}

.App-header {
  background-color: #222;
  height: 60px;
  padding: 10px;
  color: white;
  text-align: left;
}

.App-title {
  font-size: 1.5em;
  position: relative;
  top: 13px;
}

.right-comp {
  float: right;
}

.shopping-cart {
  background-color: #222;
  border: 2px solid white;
  height: 40px;
  color: white;
  position: relative;
  bottom: 20px;
  margin: 10px;
}

.shopping-cart:hover {
  background-color: #666;
}

.shopping-cart:active {
  background-color: white;
  color: black;
  outline: none;
}

.cart-lable {
  position: relative;
  bottom: 19px;
  margin: 10px;
  padding: 9px;
  border: 2px solid white;
}

.item {
  display: block;
  margin: 2px; 
  border: 1px solid #999;
  height: 44px;
}

.add-to-cart {
  background-color: #aaa;
  border: 2px solid #666;
  height: 30px;
  float: right;
  color: black;
  position: relative;
  margin-right: 5px;
  margin-top: 8px;
}

.add-to-cart:hover {
  background-color: #666;
}

.add-to-cart:active {
  background-color: white;
  color: black;
  outline: none;
}

.item-cell {
  float: left;
  width: 10%;
  margin: 2px; 
  position: relative;
  top: 10px;
}

.header-cell {
  font-weight: bold;
  float: left;
  width: 10%;
  margin: 2px; 
  position: relative;
  top: 10px;
}